{
    "root": true,
    "extends": [
        "@akashic/eslint-config",
        "prettier"
    ],
    "parserOptions": {
        "project": "tsconfig.eslint.json",
        "sourceType": "module"
    },
    "ignorePatterns": [
        "*.js",
        "**/*.d.ts"
    ]
}
