name: Deploy API Document on GitHub Pages

on:
  workflow_dispatch:
  push:
    branches:
      # 現状過去バージョンのブランチでは GitHub Actions が有効になっておらず、また過去バージョンを更新することは事実上ほとんどないという理由により、
      # main ブランチへの push 契機ですべてのバージョンを更新するように意図している。
      # 万が一過去バージョンのみの更新が発生した場合は workflow_dispatch を手動で実行すること。
      - main

env:
  NODE_VERSION: '18'
  PUBLIC_DIR: public
  V3_REF: main
  V2_REF: v2-main
  V1_REF: v1-main
  V3_DIR: v3
  V2_DIR: v2
  V1_DIR: v1

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node ${{ env.NODE_VERSION }}
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Checkout (v3)
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ env.V3_REF }}
          path: ${{ env.V3_DIR }}
          persist-credentials: false
      - name: Checkout (v2)
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ env.V2_REF }}
          path: ${{ env.V2_DIR }}
          persist-credentials: false
      - name: Checkout (v1)
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ env.V1_REF }}
          path: ${{ env.V1_DIR }}
          persist-credentials: false
      - name: Install and Build (v3)
        working-directory: ${{ env.V3_DIR }}
        run: |
          npm ci
          npm run doc
      - name: Install and Build (v2)
        working-directory: ${{ env.V2_DIR }}
        run: |
          npm ci
          npm run doc
      - name: Install and Build (v1)
        working-directory: ${{ env.V1_DIR }}
        run: |
          npm install
          npm run doc
      - name: Copy API docs
        run: |
          mkdir -p ${PUBLIC_DIR}
          cp -r ${V3_DIR}/doc/html/ ${PUBLIC_DIR}/${V3_DIR}/
          cp -r ${V2_DIR}/doc/html/ ${PUBLIC_DIR}/${V2_DIR}/
          cp -r ${V1_DIR}/doc/html/ ${PUBLIC_DIR}/${V1_DIR}/
      - name: Check API docs
        run: |
          for dir in ${V1_DIR} ${V2_DIR} ${V3_DIR}
          do
            if [ ! -e ${PUBLIC_DIR}/${dir}/index.html ]; then
              echo "'${PUBLIC_DIR}/${dir}/index.html' not found."
              exit 1;
            fi
          done
      - name: Deploy on gh-pages branch
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{ env.PUBLIC_DIR }}
          user_name: 'github-actions'
          user_email: '41898282+github-actions[bot]@users.noreply.github.com'
