name: Deploy API Document on GitHub Pages

on:
  workflow_dispatch:
  push:
    branches:
      # 現状過去バージョンのブランチでは GitHub Actions が有効になっておらず、また過去バージョンを更新することは事実上ほとんどないという理由により、
      # main ブランチへの push 契機ですべてのバージョンを更新するように意図している。
      # 万が一過去バージョンのみの更新が発生した場合は workflow_dispatch を手動で実行すること。
      - main

env:
  NODE_VERSION: '18'
  PUBLIC_DIR: public
  V3_REF: main
  V2_REF: v2-main
  V1_REF: v1-main
  V3_DIR: v3
  V2_DIR: v2
  V1_DIR: v1

jobs:
  build:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node ${{ env.NODE_VERSION }}
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Checkout (v3)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ env.V3_REF }}
          path: ${{ env.V3_DIR }}
          persist-credentials: false
      - name: Checkout (v2)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ env.V2_REF }}
          path: ${{ env.V2_DIR }}
          persist-credentials: false
      - name: Checkout (v1)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ env.V1_REF }}
          path: ${{ env.V1_DIR }}
          persist-credentials: false
      - name: Install and Build (v3)
        working-directory: ${{ env.V3_DIR }}
        run: |
          npm ci
          npm run doc
      - name: Install and Build (v2)
        working-directory: ${{ env.V2_DIR }}
        run: |
          npm ci
          npm run doc
      - name: Install and Build (v1)
        working-directory: ${{ env.V1_DIR }}
        run: |
          npm install
          npm run doc
      - name: Copy API docs
        run: |
          mkdir -p ${PUBLIC_DIR}
          cp -r ${V3_DIR}/doc/html/ ${PUBLIC_DIR}/${V3_DIR}/
          cp -r ${V2_DIR}/doc/html/ ${PUBLIC_DIR}/${V2_DIR}/
          cp -r ${V1_DIR}/doc/html/ ${PUBLIC_DIR}/${V1_DIR}/
      - name: Check API docs
        run: |
          for dir in ${V1_DIR} ${V2_DIR} ${V3_DIR}
          do
            if [ ! -e ${PUBLIC_DIR}/${dir}/index.html ]; then
              echo "'${PUBLIC_DIR}/${dir}/index.html' not found."
              exit 1;
            fi
          done
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: ${{ env.PUBLIC_DIR }}

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
