name: reftest

on: [push, pull_request]

permissions:
  contents: read

jobs:
  reftest:
    runs-on: ${{ matrix.os }}
    name: Node ${{ matrix.node }} / ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [18.x, 20.x]
    steps:
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node }}
      - name: Checkout akashic-engine repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          path: akashic-engine
          persist-credentials: false
      - name: Checkout engine-files repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: akashic-games/engine-files
          path: engine-files
          persist-credentials: false
      - name: Pack akashic-engine
        working-directory: akashic-engine
        id: akashic_engine
        run: |
          npm ci
          npm pack
          fileName=$(ls -1 akashic-akashic-engine-*.tgz)
          echo "pack_name=$fileName" >> $GITHUB_OUTPUT
      - name: Run engine-files reftest
        working-directory: engine-files
        run: |
          npm ci
          npm i ../akashic-engine/${AKASHIC_ENGINE_PACK_NAME} --no-save
          npm run build
          npm test
        env:
          AKASHIC_ENGINE_PACK_NAME: ${{ steps.akashic_engine.outputs.pack_name }}
      - name: Archive artifact
        if: ${{ always() }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: engine_files_reftest_result_${{ matrix.os }}_${{ matrix.node }}
          path: |
            ./engine-files/tests/fixtures/**/expected/
            ./engine-files/tests/fixtures/**/actual/
            ./engine-files/tests/fixtures/**/diff/
