name: Publish and Release

on:
  push:
    branches:
      - main

env:
  NODE_VERSION: 24

permissions:
  contents: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    name: Publish and Release
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
      - name: Prepare
        run: |
          npm ci
          npm test
      - name: Publish and Release
        uses: akashic-games/action-release@e4e3c8901b8ed92356c5eb9cf6cfc573a9c4ce9b # v2.1.4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
